NodeRed/flows.json
[{"id":"53390e05.ee236","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8e1328b8.1a5ef8","type":"inject","z":"53390e05.ee236","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":120,"wires":[["49debb2a.a00794"]]},{"id":"49debb2a.a00794","type":"debug","z":"53390e05.ee236","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":440,"y":200,"wires":[]},{"id":"caa6a09c.b7c5d","type":"twitter in","z":"53390e05.ee236","twitter":"","tags":"#seeclearly","user":"false","name":"#seeclearly","inputs":0,"x":250,"y":280,"wires":[["49debb2a.a00794","c1a1279b.f2dd18"]]},{"id":"b86b6fc3.0da52","type":"http in","z":"53390e05.ee236","name":"","url":"/tweets","method":"get","upload":false,"swaggerDoc":"","x":190,"y":460,"wires":[["21629f3b.96371"]]},{"id":"790f90bc.b2711","type":"template","z":"53390e05.ee236","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    \n    <head>\n    <meta http-equiv=\"refresh\" content=\"5\" >\n    <link rel=\"icon\" type=\"image/x-icon\" href=\"https://highlight.net/images/logo/Highlight_FavIcon.png\" />\n    <style>\nbody {\n    text-align: center;\n    background-image:url(https://d33wubrfki0l68.cloudfront.net/images/backgrounds/41f210f2a71bc807aa87d00c3f54ec4f3f78ed6a/homebalcony2.jpg);\n    background-position: center;\n    background-position-x: center;\n    background-position-y: center;\n    background-size: cover;\n}\nul  {\n    text-align: left;\n    width: 500px;\n    margin: auto;\n    list-style: none;\n}\nli {\n    border: 1px solid #999;\n    border-left-width: 10px;\n    border-radius: 3px;\n    margin-bottom: 20px;\n    padding: 10px;\n    background-color:#FFF;\n}\nli.sentiment_positive {\n    border-left: 10px solid #69B369;\n}\nli.sentiment_negative {\n    border-left: 10px solid #E64444;\n}\n.tweet {\n    display: inline-block;\n    font-family: Helvetica;\n    width: 380px;\n    margin-left: 10px;\n}\nimg {\n    width: 48px\n    height: 48px;\n    border-radius: 5px;\n    vertical-align: top;\n}\nh1 {\n    font-size: 2em;\n    color: #000;\n    font-weight:bold;\n}\n        </style>\n        <title>Latest #SeeClearly tweets</title>\n    </head>\n<body>\n\n    <ul>\n    <h1>Who's tweeting about <span style=\"color:FFF\">#SeeClearly?<span></span></h1>\n    \n    \n    \n    {{#payload}}\n    <li class=\"sentiment_{{sentiment.text}}\">\n        <img src = \"{{tweet.user.profile_image_url}}\">\n        <div class=\"tweet\">\n            <div class=\"user\"><strong>{{tweet.user.name}}</strong></div>\n            <div class=\"text\">{{tweet.text}}</div>\n        </div>\n    </li>\n    {{/payload}}\n    \n    <small>Disclaimer: All of the tweets displayed are from third parties. If anything offensive shows up #itwasntme.</small>\n    </ul>\n</body>\n    \n</html>\n","output":"str","x":680,"y":640,"wires":[["380196d4.b1046a"]]},{"id":"28faad9d.dfca52","type":"mongodb in","z":"53390e05.ee236","mongodb":"a3933c79.d380d","name":"","collection":"tweets","operation":"find","x":490,"y":580,"wires":[["790f90bc.b2711"]]},{"id":"380196d4.b1046a","type":"http response","z":"53390e05.ee236","name":"","statusCode":"","headers":{},"x":830,"y":600,"wires":[]},{"id":"d0950fd1.8a9f9","type":"mongodb out","z":"53390e05.ee236","mongodb":"a3933c79.d380d","name":"","collection":"tweets","payonly":false,"upsert":false,"multi":false,"operation":"store","x":970,"y":180,"wires":[]},{"id":"c1a1279b.f2dd18","type":"sentiment","z":"53390e05.ee236","name":"","property":"payload","x":440,"y":340,"wires":[["3ecb55b1.aecc3a","57bee34d.33c3ac","48004540.4678cc"]]},{"id":"3ecb55b1.aecc3a","type":"function","z":"53390e05.ee236","name":"","func":"if(msg.sentiment.score > 0) {\n    msg.sentiment.text = \"positive\";\n}\nelse if (msg.sentiment.score < 0) {\n    msg.sentiment.text = \"negative\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":340,"wires":[["d0950fd1.8a9f9"]]},{"id":"21629f3b.96371","type":"function","z":"53390e05.ee236","name":"","func":"msg.sort = {\"tweet.id\":-1};\nmsg.limit = 5;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":520,"wires":[["28faad9d.dfca52"]]},{"id":"b265b832.8ff9e8","type":"rpi-gpio out","z":"53390e05.ee236","name":"Green LED","pin":"7","set":true,"level":"0","freq":"","out":"out","x":1270,"y":460,"wires":[]},{"id":"3c771409.f6f1fc","type":"rpi-gpio out","z":"53390e05.ee236","name":"Amber LED","pin":"5","set":true,"level":"0","freq":"","out":"out","x":1270,"y":400,"wires":[]},{"id":"57bee34d.33c3ac","type":"switch","z":"53390e05.ee236","name":"Check Sentiment","property":"sentiment.score","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"str"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":770,"y":420,"wires":[["420e80ae.3f47a"],["980f5db1.f2ac4"],["5466c833.c80368"]]},{"id":"5466c833.c80368","type":"trigger","z":"53390e05.ee236","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","name":"Flash Green","x":1030,"y":460,"wires":[["b265b832.8ff9e8"]]},{"id":"980f5db1.f2ac4","type":"trigger","z":"53390e05.ee236","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","name":"Flash Amber","x":1030,"y":400,"wires":[["3c771409.f6f1fc"]]},{"id":"48004540.4678cc","type":"debug","z":"53390e05.ee236","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"sentiment.score","targetType":"msg","x":630,"y":280,"wires":[]},{"id":"420e80ae.3f47a","type":"trigger","z":"53390e05.ee236","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","name":"Flash Red","x":1030,"y":340,"wires":[["d8c8333e.5e0aa"]]},{"id":"d8c8333e.5e0aa","type":"rpi-gpio out","z":"53390e05.ee236","name":"Red LED","pin":"3","set":true,"level":"0","freq":"","out":"out","x":1260,"y":340,"wires":[]},{"id":"a3933c79.d380d","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"myDB","name":""}]